.Card {
    background: whitesmoke;
    border-radius: 10px;
    border: 10px solid black;
}


.Card_img {
    text-align: center;
}


.Card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: xx-large;
}

.Card_types {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: red;
    color: #fff;
    font-size: x-large;
}

.Card_info {
    margin-left: 10px;
    font-weight: bolder;
    font-size: large; 
}

.Card_data {
    padding-bottom: 10px;
}

